
   INPUT,SELECT{font-family: Dotum;font-size:9pt;;}
   .style1 {
	  color: #466D1B;
	  font-weight: bold;
	  font-size: 12px;
    }
    body{margin-top:0px;margin-left:0px;background:"#FFFFFF"}
    table{width:414px; height:100px;}
    .center30{text-align:center; height:30px}
